server:
  port: 8086

spring:
  application:
    name: CONFIG-SERVER
    
  cloud:
    config:
      server:
        git:
          uri: https://github.com/pudurvenu/cloud-config-learning-platform
          clone-on-start: true



# eureka:
#   instance:
#     #lease-renewal-interval-in-seconds: 1
#     #lease-expiration-duration-in-seconds: 2
#     hostname: localhost
#   client:
#     service-url:
#        defaultZone: https://eurekaservice-production.up.railway.app/eureka/
#     healthcheck:
#       enabled: true
#     lease:
#       duration:5
